[Unit]
Description="sync of brightness betwen main screen and screenpad"

[Service]
ExecStart = /usr/bin/screenpad_rs --watch

[Install]
WantedBy=multi-user.target